table.Spreadsheet > tbody.Spreadsheet-body > tr > td,
table.Spreadsheet > tbody.Spreadsheet-body > tr > th
{
    text-align: right;
    padding: .25rem;
}

table.Spreadsheet > thead
{
    position: -webkit-sticky; position: sticky; top: 0px; z-index: 100;
}

table.DialogTable > tbody > tr > th,
table.DialogTable > tbody > tr > td
{
	padding: .25rem;
	text-align: right
}